services:
    emarket-server:
        build: 
            context: ./
            dockerfile: ./E-Market.Server/Dockerfile
        depends_on:
            - db-sqlserver
        ports:
            - "8080:8080"
        networks:
            - private-network
            - public-network


    emarket-client:
        build: 
            context: ./E-Market-Client
            dockerfile: Dockerfile
        volumes:
            - ./E-Market-Client:/app 
        ports:
            - "55786:55786"
        environment:
            - NODE_ENV=development
        networks:
            - public-network



    db-sqlserver:
        networks:
            - private-network
        image: mcr.microsoft.com/mssql/server:2022-preview-ubuntu-22.04
        environment:
            MSSQL_SA_PASSWORD: Sql2022@
            ACCEPT_EULA: Y
            APPLY_MIGRATIONS: true
        container_name: db-sqlserver
        ports:
            - "1433:1433"    

networks:
    private-network:
        driver: bridge
    public-network:
        driver: bridge