.navbar-wrapper {
   /* position: fixed;
    z-index: 9999;
    width: 100%;*/
    background-color: blue;
}

.navbar {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

Nav {
    font-family: 'Signika';
    font-weight: 700;
    font-size: 16px;
}

.navbar-toggler {
    border: none !important;
}

.teste{
    background-color: blue
}