:root {
    --primary-color: #0831A3;
    --secondary-color: #072C92;
}

.wrapper {   
    border-radius: 1rem;
    width: 10rem;
    padding-block: 1rem;
    background-color: white;
}

.image {
    height: 6rem;
    padding-bottom: 1.5rem;
    margin-top: -0.5rem;
    cursor: pointer;
}

.heartIcon {
   display: flex;
   justify-content: flex-end;
   margin-right: 1rem;      
   cursor: pointer;
}

.plusIconWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: -4rem;
    cursor: pointer;
}

.plusIcon:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--secondary-color) !important;
}

.titleWrapepr {
    padding-inline: 1rem;
}

.title {
    font-size: 14px;
    font-family: sans-serif;
    text-align: start;
    cursor: pointer;
    overflow: hidden;
}

.value {
    font-size: 20px;
    font-family: sans-serif;
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    padding-left: 1.5rem;
}