:root {
    --primary-color: #0831A3;
    --secondary-color: #072C92;
}

.wrapper {
    border: 1px solid lightgrey;
    border-radius: 1rem;
    width: 18rem;
    padding-block: 1rem;
}

.image{
    padding-bottom: 1.5rem;
}

.heart-icon {
    position: absolute;
    left: 17.5rem;
    cursor: pointer;
}

.title {
    font-size: 18px;
    font-family: sans-serif;
    padding-inline: 1rem;
    text-align: start
}

.value {
    font-size: 18px bold;
    font-family: sans-serif;
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    padding-left: 1.5rem;
}

.btn {
    font-size: 18px;
    font-family: sans-serif;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding-block: 0.5rem;
    padding-inline: 5.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--secondary-color);
}