:root {
    --primary-color: #0831A3;
    --secondary-color: #072C92;

}

.background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.624);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    
    border: 1px solid lightgrey;
    border-radius: 1rem;
    width: 80rem;
    /*height: 40rem;*/
    padding-block: 2rem;
    background-color: white;
}

.product{
    display: flex;
    flex-direction: row;    
    align-content: end;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.heartIcon{
    margin-top:1rem;
    cursor: pointer;
}

.title {
    font-size: 24px;
    font-family: sans-serif;
    padding-inline: 1rem;
    text-align: start
}

.detailDescriptionWrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.closeButton {
    display: flex;
    justify-content: flex-end;
    margin-right: -1.5rem;
    
}

.closeButtonIcon{
    cursor: pointer;
}

.detailWrapper {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding-inline: 2rem
}

.detail{
    display: flex;
    flex-direction: column;
}

.value {
    font-size: 24px;
    font-family: sans-serif;
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    padding-left: 1rem;
}
 
.btn {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 15rem;
    margin-left: 1rem;
}

.btn:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--secondary-color);
}


.descriptionWrapper {
    width: 40rem;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-inline: 2rem;
    gap: 1rem;
    text-align: justify;
}

.descriptionTitle {
    font-family: sans-serif;
    font-size: 20px;
    color: var(--primary-color);    
    margin: 0;
    cursor: pointer;
}

.arrowWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.arrow{
    color: var(--primary-color);
    cursor: pointer;
}

.description {
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start
}